
body {
    background-image: url(./images/background_abstract.jpeg);
    background-size: cover;
    color: black;
}

.game_cells{
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.cell {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #c0c0c0;
}

.cell--on {
    background-color: black;
}

.cell--off {
    background-color: white;
}

.cell--on-r {
    background-color: red;
}

.start_button {
    margin-top: 30px;
}

h1 {
    font-family: 'Quattrocento', serif;
    font-size: 5.5rem;
    text-align: center;
}

h2 {
    font-family: 'Quattrocento', serif;
    font-size: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
    border-bottom: solid 5px #FDD400;
    line-height: 1.8rem;
}

// .presets h2{
//   font-stretch: expanded;  
// }

h3{
    font-family: 'Quattrocento', serif;
    font-size: 1.3rem;
    margin-top: 1rem;
    text-align: center;
}

.creator h2{
    margin: 0;
}

.rules p {
    padding: .5rem;
}

.content{
    display: flex;
    justify-content: space-evenly;
    
}
.GameOfLife{
    margin-left: 5rem;
    margin-right: 5rem;
    width: 33%;
    border: solid white;
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: white;
}

.presets {
    display: flex;
    flex-direction: column;
    // margin-left: 10rem;
    justify-content: center;
    width: 33%;
    border: solid white;
    border-radius: 10px;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: white;
}

.about{
    margin-left: 5rem;
    margin-right: 5rem;
    width: auto;
    border: solid white;
    border-radius: 10px;
    background-color: white;
}

.rules{
    margin-bottom: 5rem;
}

.blinker_1{
    max-width: 135px;
    max-height: 135px;
    height: auto;
    width: auto;
    align-self: center;
}

.blinker_2{
    max-width: 89px;
    max-height: 145px;
    align-self: center;
}

.blinker_3{
    max-width: 178px;
    max-height: 146px;
    align-self: center;
}

p{
    padding: .5rem;
    margin-left: 1rem;
}

// .creator{
//     max-width: 30%;
// }

.buttons{
    display: flex;
    justify-content: space-around;   
    padding-top: 25px;
    padding-bottom: 25px;
}

.start_button, .clear_button, .slow_play, .fast_play{
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #FC9C9E;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    font-family: 'Quattrocento', serif;
    font-size: inherit;
    margin: inherit;
    

    &:hover{
        background: #004B94;
        text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
    }
}

#grid-size, #color-choice {
    font-size: 16px;
	font-family: 'Quattrocento', serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: white;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}

p{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4rem;
}