.GameOfLife {

}

.game_cells{
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.cell {
    width: 20px;
    height: 20px;
    background-color: white;
    border: 1px solid #c0c0c0;
}

.cell--on {
    background-color: black;
}

.cell--off {
    background-color: white;
}

.start_button {
    margin-top: 30px;
}